.container {
    width: 100%;
    text-align: center; 
}
h1{
    text-align: center;
    margin-top: 3%;
}
.card {
    width: 25%; 
    margin: 2% 2%;  
   
    display: inline-block;
    box-sizing: border-box;  
   
    text-align: left; 
    transition: 1s;
}
.card:hover{
    opacity: 0.5;
}
.caro{
    transition: 2s;
}
.caro:hover{
    visibility: hidden;
}
img {
    width: 100%;
    height: auto;
    display: block; 
    margin-bottom: 15px;
}
.c1:hover{
    filter: sepia(80%);
}

.ic3{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
h3 {
    margin: 0 0 10px 0; 
    font-size: 1.1rem;
    color: #000;
    padding-left: 20px;
}
p {
    margin: 0 0 20px 0;
    color: #666;
    text-align: justify; 
    font-size: 0.95rem;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}
a.link {
    display: inline-block; 
    margin-bottom: 20px; 
    margin-left: 20px;
    padding: 6px 12px; 
    background-color: #d36905; 
    color: #fff; 
    border: none; 
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
}